<h1> Aircraft Queue </h1>
<%= link_to "Enqueue", new_aircraft_path %>
<%= link_to "Dequeue", dequeue_aircrafts_path, method: :delete %>

  <% @aircrafts.each do |aircraft| %>
    <div class="aircraft">
      <li>Queue:<%= aircraft.que_name %> </li>
      <li>Size:<%= aircraft.aircraft_size%> </li>
      <li>Type:<%= aircraft.aircraft_type %> </li>
    </div>
  <% end %>
